fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
openai
chromadb
groq
werkzeug
python-multipart
PyPDF2
cryptography
reportlab
python-multipart
kafka-python
redis
pandas
pyspark

opencv-python-headless
